extends base

block content 
    form(method="POST")
        input(placeholder="Name",name="name", type="text", required, value=loggedInUser.name)
        if errorMessage && errorMessage.email
            span(style="color: red")=errorMessage.email
        input(placeholder="Email",name="email", type="email", required, value=loggedInUser.email)
        if errorMessage && errorMessage.username
            span(style="color: red")=errorMessage.username 
        input(placeholder="UserName",name="username", type="text", required, value=loggedInUser.username)
        input(placeholder="Location",name="location", type="text", required, value=loggedInUser.location)
        input(type="submit", value="Update Profile ") 
        span(style="color: wheatsmoke")=happyMessage